<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="experimental.partial.PartialQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:experimental.partial.PartialQueries" id="experimental.partial.PartialQueries">
      <query-specification fqn="experimental.partial.source"/>
      <query-specification fqn="experimental.partial.target"/>
    </group>
  </extension>
</plugin>
